
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: burlywood;
}



.logo {
  position: absolute;
  top: 10px;
  left: 10px; 
}
.logo img {
  width: 190px;
  height: auto;
}


.head {
  padding: 10px;
  text-align: right;

}

.head .hea1 a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.head .hea1 a:hover {
  color: #5f95c7;
}

.info {
  display: flex;
  gap: 6rem;
}

.info22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info img {
  width: 20%;
  border-radius: 50%;
  padding-left: 10px;
}
.infos {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-left: 100px;
  margin-top: 5%;
}

.infoma {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.folderpage {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 70px;
        }
        
        .folderpage a {
          display: block;
          text-align: center;
          margin: 10px;
          text-decoration: none;
          color: #333;
      }


      .folderpage a:hover {
          box-shadow: 0 0 10px black;
      }

      .folderpage img {
          width: 190px;
          height: auto;
      }

      .folderpage h1 {
          font-size: 16px;
          margin-top: 5px;
      }



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(112, 182, 207);
  color: black;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  width: 24px;
  height: 24px;
  margin: 10px 0px;
  vertical-align: middle;
}



.work {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 20px; 

}


